@model AzureP33.Models.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure під час розробки додатків</h1>
</div>

<h2 class="display-5">
    Перекладач
</h2>

<a asp-action="Cosmos" class="btn btn-sm btn-outline-info">Cosmos</a><br />
<a asp-action="History" class="btn btn-sm btn-outline-info">History</a><br />

<form method="get" class="d-flex">
    <div class="flex-grow-1"></div>
    <div class="flex-grow-1">
        <label for="source-textarea" class="form-label">Text will be translate here..</label>

        <select class="form-select" aria-label="Original language" name="lang-from">
            @foreach (var item in Model.LanguagesResponse.Transltations)
            {
                bool isSelected = item.Key == Model.FormModel!.LangFrom;

                string displayName = item.Value.Name;
                if (item.Value.Name != item.Value.NativeName)
                {
                    displayName += $" ({item.Value.NativeName})";
                }

                <!option value="@item.Key" @(isSelected ? "selected" : "")>@displayName</!option>
            }
        </select>

        <div class="mb-3">
            <div class="form-control p-0 d-flex flex-column" style="min-height: 100px; height: auto;">

                <textarea name="original-text"
                          class="form-control borderless-textarea flex-grow-1"
                          id="source-textarea"
                          rows="3"
                          style="min-height: 60px;">@Model.FormModel?.OriginalText</textarea>

                @if (Model.FromTransliteration != null)
                {
                    <div class="px-3 pb-2 text-muted fst-italic border-top border-secondary pt-1" style="font-size: 0.9em;">
                        @Model.FromTransliteration.Text
                    </div>
                }
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }
    </div>
    <span class="flex-grow-0 m-3 mt-5">
        <button class="btn btn-outline-danger" type="submit" name="action-button" value="replace">
            <i class="bi bi-arrow-left-right"></i>
        </button>
        <br />
        <button class="btn btn-outline-success mt-2" type="submit" name="action-button" value="translate">
            <i class="bi bi-translate"></i>
        </button>
    </span>
    <div class="flex-grow-1">
        <label for="translation-textarea" class="form-label">Result translate</label>
        <select class="form-select" aria-label="Original language" name="lang-to">
            @foreach (var item in Model.LanguagesResponse.Transltations)
            {
                bool isSelected = item.Key == Model.FormModel!.LangTo;

                string displayName = item.Value.Name;
                if (item.Value.Name != item.Value.NativeName)
                {
                    displayName += $" ({item.Value.NativeName})";
                }

                <!option value="@item.Key" @(isSelected ? "selected" : "")>@displayName</!option>
            }
        </select>
        <div class="mb-3">
            <div class="form-control p-0 d-flex flex-column" style="min-height: 100px; height: auto;">

                <textarea readonly
                          name="translated-text"
                          class="form-control borderless-textarea flex-grow-1"
                          id="translation-textarea"
                          rows="3"
                          style="min-height: 60px;">@Model.Items?[0].Translations[0].Text</textarea>

                @if (Model.ToTransliteration != null)
                {
                    <div class="px-3 pb-2 text-primary fst-italic border-top border-secondary pt-1" style="font-size: 0.9em;">
                        @Model.ToTransliteration.Text
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</form>


<div class="alert alert-primary">Switch selection translate <input type="checkbox" id="switchSelection" /></div>

@if (Model.ErrorResponse != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorResponse.Error.Message (@Model.ErrorResponse.Error.Code)
    </div>
}

<p>
    Before long, though, I heard the soft padding of rubber soles, and a
    mature, bristly-haired woman appeared. She swept across the lobby,
    sat down next to me, crossed her legs and took my hand. Instead of
    just shaking it, she turned my hand over, examining it front and back.
    "You haven't played a musical instrument, at least not for some years
    now, have you?" were the first words out of her mouth.
    "No," I said, taken aback. "You're right."
    "I can tell from your hands," she said with a smile.
</p>

<h2 class="display-6">Placement password information in projects what publishing.</h2>