@model AzureP33.Models.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure під час розробки додатків</h1>
</div>

<h2 class="display-5">
    Перекладач
</h2>

<form method="get" class="d-flex">
    <div class="flex-grow-1"></div>
    <div class="flex-grow-1">
        <label for="source-textarea" class="form-label">Text will be translate here..</label>

        <select class="form-select" aria-label="Original language" name="lang-from">
            @foreach (var item in Model.LanguagesResponse.Transltations)
            {
                bool isSelected = item.Key == Model.FormModel!.LangFrom;

                string displayName = item.Value.Name;
                if (item.Value.Name != item.Value.NativeName)
                {
                    displayName += $" ({item.Value.NativeName})";
                }

                <!option value="@item.Key" @(isSelected ? "selected" : "")>@displayName</!option>
            }
        </select>

        <div class="mb-3">
            <textarea name="original-text" class="form-control" id="source-textarea" rows="3">@Model.FormModel?.OriginalText</textarea>
        </div>
        @Model.FromTransliteration?.Text

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }
    </div>
    <span class="flex-grow-0 m-3 mt-5">
        <button class="btn btn-outline-danger" type="submit" name="action-button" value="replace">
            <i class="bi bi-arrow-left-right"></i>
        </button>
        <br />
        <button class="btn btn-outline-success mt-2" type="submit" name="action-button" value="translate">
            <i class="bi bi-translate"></i>
        </button>
    </span>
    <div class="flex-grow-1">
        <label for="translation-textarea" class="form-label">Result translate</label>
        <select class="form-select" aria-label="Original language" name="lang-to">
            @foreach (var item in Model.LanguagesResponse.Transltations)
            {
                bool isSelected = item.Key == Model.FormModel!.LangTo;

                string displayName = item.Value.Name;
                if (item.Value.Name != item.Value.NativeName)
                {
                    displayName += $" ({item.Value.NativeName})";
                }

                <!option value="@item.Key" @(isSelected ? "selected" : "")>@displayName</!option>
            }
        </select>
        <div class="mb-3">
            <textarea readonly name="translated-text" class="form-control" id="translation-textarea" rows="3">@Model.Items?[0].Translations[0].Text</textarea>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</form>

@if (Model.ErrorResponse != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorResponse.Error.Message (@Model.ErrorResponse.Error.Code)
    </div>
}

<h2 class="display-6">Placement password information in projects what publishing.</h2>